
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* menuIconButton */
#addContact_menuIconButton {

}
.ui-btn.addContact_menuIconButton {

}
/* mobilecontainer */
.ui-content.addContact_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* firstNameInputAddContact */
.addContact_firstNameInputAddContact {
	margin: 4px 0px 4px 0px;
}
/* lastNameInputAddContact */
.addContact_lastNameInputAddContact {
	margin: 4px 0px 4px 0px;
}
/* phoneInputAddContact */
.addContact_phoneInputAddContact {
	margin: 4px 0px 4px 0px;
}
/* emailInputAddContact */
.addContact_emailInputAddContact {
	margin: 4px 0px 4px 0px;
}
/* birthdayAddContactLabel */
.addContact_birthdayAddContactLabel {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* birthdayAddContactPicker */
.addContact_birthdayAddContactPicker {
	margin: 4px 0px 4px 0px;
}
.addContact_birthdayAddContactPicker .datePickerControls {
	position:relative;
	top:0;
	padding-right:45px;
}
.addContact_birthdayAddContactPicker .datepickeropenbutton {
	position:absolute;
	right:0;
}
/* notesTextAreaAddContact */
.addContact_notesTextAreaAddContact {
	margin: 4px 0px 4px 0px;
}
/* saveContactAddContact */
#addContact_saveContactAddContact {

}
.ui-btn.addContact_saveContactAddContact {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.addContact_mobilefooter {
	min-height:38px;
}
/* mainMenuList */
.addContact_mainMenuList .ui-panel-inner {
	padding: 15px 15px 15px 15px;
}
.addContact_mainMenuList:focus {
	outline: 0;
}
/* menuItemHomePage */
#addContact_menuItemHomePage {

}
.ui-btn.addContact_menuItemHomePage {
	margin: 4px 5px 4px 5px;
}
/* menuItemContactList */
#addContact_menuItemContactList {

}
.ui-btn.addContact_menuItemContactList {
	margin: 4px 5px 4px 5px;
}
/* menuItemAddContact */
#addContact_menuItemAddContact {

}
.ui-btn.addContact_menuItemAddContact {
	margin: 4px 5px 4px 5px;
}