
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* menuButton */
#contactList_menuButton {

}
.ui-btn.contactList_menuButton {

}
/* mobilecontainer */
.ui-content.contactList_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* contactNameList */
.ui-page .contactList_contactNameList {
	margin: 15px 0px 0px 0px;
}
/* mobilelistitem_31 */
.ui-mobile-viewport ul[data-role="listview"] li.contactList_mobilelistitem_31 {
	padding: 0;
	margin: 0;
	border: 0;
}
.ui-mobile-viewport ul[data-role="listview"] li.contactList_mobilelistitem_31 .ui-li-static-container {
	padding: 0px 0px 4px 0px;
	padding-right: 10px;
	padding-left: 0px;
	min-height: 1em;
	margin-right: 40px;
}
.ui-mobile-viewport ul[data-role="listview"] li.contactList_mobilelistitem_31:after {
	display:none;
}
.ui-mobile-viewport ul[data-role="listview"] li.contactList_mobilelistitem_31.ui-icon-none .ui-li-static-container {
	padding-right: 0px; /* consider nothing */
}
/* mobilelistitembutton_32 */
.contactList_mobilelistitembutton_32 {

}
/* contactMobileListLabel */
.contactList_contactMobileListLabel {
	text-decoration: none; font-weight: bold; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter */
.contactList_mobilefooter {
	min-height:38px;
}
/* mainMenuList */
.contactList_mainMenuList .ui-panel-inner {
	padding: 15px 15px 15px 15px;
}
.contactList_mainMenuList:focus {
	outline: 0;
}
/* menuItemHome */
#contactList_menuItemHome {

}
.ui-btn.contactList_menuItemHome {
	margin: 4px 5px 4px 5px;
}
/* menuItemContactList */
#contactList_menuItemContactList {

}
.ui-btn.contactList_menuItemContactList {
	margin: 4px 5px 4px 5px;
}
/* menuItemAddContact */
#contactList_menuItemAddContact {

}
.ui-btn.contactList_menuItemAddContact {
	margin: 4px 5px 4px 5px;
}