
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.startScreen_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* homePagePictureCarousel */
.startScreen_homePagePictureCarousel {
	margin: 0px 0px 0px 0px!important;
}
.startScreen_homePagePictureCarousel ul {
	margin: 0px 0px 0px 0px!important;
}
.startScreen_homePagePictureCarousel .ui-carousel-box {
	min-height: 100px;
}
/* mobilecarouselitem_3 */
.startScreen_mobilecarouselitem_3 .ui-carousel-box {
	padding: 0px 0px 0px 0px;
}
/* mobilecarouselitem_4 */
.startScreen_mobilecarouselitem_4 .ui-carousel-box {
	padding: 0px 0px 0px 0px;
}
/* mobilecarouselitem_5 */
.startScreen_mobilecarouselitem_5 .ui-carousel-box {
	padding: 0px 0px 0px 0px;
}
/* loginSalesforceButton */
#startScreen_loginSalesforceButton {

}
.ui-btn.startScreen_loginSalesforceButton {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.startScreen_mobilefooter {
	min-height:38px;
}